/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;
}

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.9;    /* change line 11 of magnific.css to match */

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;

  -webkit-transition: all 0.45s ease-out;
  -moz-transition: all 0.45s ease-out;
  transition: all 0.45s ease-out;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

/* fade between content */
  /* src: https://github.com/dimsemenov/Magnific-Popup/issues/112#issuecomment-35668077 */
@-webkit-keyframes fadeIn {
    0% {opacity: 0;}    
    100% {opacity: 1;}
}
@-moz-keyframes fadeIn {
    0% {opacity: 0;}    
    100% {opacity: 1;}
}
@-o-keyframes fadeIn {
    0% {opacity: 0;}    
    100% {opacity: 1;}
}
@keyframes fadeIn {
    0% {opacity: 0;}    
    100% {opacity: 1;}
}
.mfp-figure {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: .3s;
    -moz-animation-duration: .3s;
    -ms-animation-duration: .3s;
    -o-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

.video-popup {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  background: #FFF;
  padding: 40px 0px;
  width: auto;
  height: auto;
  margin: 0px auto;
  vertical-align: middle;
}
.video-popup video {
  max-height: calc(100% - 80px);
 
  width: auto;
}
.video-popup .mfp-close {
  color: #AAA;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}
.mfp-inline-holder .mfp-content {
  height: auto;
  width: auto;
}